html,
body {
  background:linear-gradient(to right, hsl(83, 61%, 55%), hsl(184, 63%, 50%));
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*{
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
